body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 217, 0, 0.699);
}
/*nav*/
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: gold;
  color: black; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 5px solid black;
  z-index: 1000; /* To ensure it's above other content */
}

/* ... (other CSS styles) ... */

.logo img {
  width: 100px;
  height: auto;
}

h1{
  font-size: xx-large;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 10px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

.nav-links a:hover {
  background-color: #555;
  border-radius: 3px;
}

.container {
  width: 400px;
}

.card {
  background-color: rgba(0, 0, 0, 0.804);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.612);
}

h1 {
  text-align: center;
  color: gold;
}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
  color: gold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 10px;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: gold;
  color: black;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#error-message {
  color: red;
  display: none;
  margin-top: 10px;
  text-align: center;
}
